%form#<%= file_name.pluralize %>_form
<% attributes.each do |a| -%>
  .row-fluid
    = label_tag :<%= a.name %>
    = text_field_tag :<%= a.name %>, '', :class => 'span12'
<% end -%>
  .form-controls.row-fluid.btn-group
    .pull-right
      %input{:type => 'submit', :class => 'btn btn-primary', :value => 'Save'}
      %input{:type => 'reset', :class => 'btn btn-secondary', :value => 'Reset'}
