= form_for <%= file_name.camelize %>.new, html: {id: "<%= file_name.pluralize %>_form"} do |f|
<% attributes.each do |a| -%>
  .row-fluid
    = f.label :<%= a.name %>
    = text_field_tag :<%= a.name %>, '', :class => 'span12'
<% end -%>
  .form-controls.row-fluid.btn-group
    .pull-right
      %input{:type => 'submit', :class => 'btn btn-primary', :value => 'Save'}
      %input{:type => 'reset', :class => 'btn btn-secondary', :value => 'Reset'}
