= form_for <%= file_name.camelize %>.new, html: {id: "<%= file_name.pluralize %>_form"} do |f|
<% attributes.each do |a| -%>
  .span11
    .span12= f.label :<%= a.name %>
    .span12= text_field_tag :<%= a.name %>, '', :class => 'span12'
<% end -%>
  .form-controls.row-fluid
    .span11= f.submit "save", :class => 'pull-right'
