= link_to "New <%= file_name.camelize %>", "#<%= file_name.pluralize %>/new"
%table
  %thead
    %tr
      %th ID
<% attributes.each do |a| -%>
      %th <%= a.name.camelize %>
<% end -%>
      %th Actions
  %tbody
