= link_to "New <%= file_name.camelize %>", "#<%= file_name.pluralize %>/new", :class => 'btn'
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr.row-fluid
<% attributes.each do |a| -%>
      %th <%= a.name.camelize %>
<% end -%>
      %th.span1 Actions
  %tbody
