%tr.data_row
<% atributes.each do |a| -%>
  %td{:"data-name" => '<%= a.name %>'}
<% end -%>
  %td.span1
    = link_to "", "#", :class => 'show_detail icon-eye-open'
    = link_to "", "#", :class => 'edit icon-edit'
    = link_to "", "#", :class => 'destroy icon-remove'
