%tr.data_row.row-fluid.detail
<% attributes.each do |a| -%>
  %td{:"data-name" => '<%= a.name %>'}
<% end -%>
  %td
    = link_to "", "#", :class => 'show_detail icon-search'
    = link_to "", "#", :class => 'edit icon-edit'
    = link_to "", "#", :class => 'destroy icon-trash'
