.details
  .controls.btn-group.pull-right
    = link_to "#", :class => 'edit btn' do
      %span.icon-edit
      Edit
    = link_to "#", :class => 'destroy btn' do
      %span.icon-trash
      Delete
    = link_to "#", :class => 'close-self btn' do
      %span.icon-remove
      Close
  .page-header
    %h3
      %strong <%= file_name.camelize %> detail
<% attributes.each do |a| -%>
  .span8
    .attribute_name
      %strong <%= a.name.camelize %>
      %span.attribute_value{:"data-name" => '<%= a.name %>'}
<% end -%>
