.details
  .controls
    %ul.tabs
      %li= link_to "Close", "#", :class => 'close btn'
      %li= link_to "Edit", "#", :class => 'edit btn'
      %li= link_to "Delete", "#", :class => 'destroy btn'
  .span8
    %h4
      %strong <%= file_name.camelize %>
    %span{:"data-name" => 'id'}
<% attributes.each do |a| -%>
  .span8
    .attribute_name
      %strong <%= a.name.camelize %>
      %span.attribute_value{:"data-name" => '<%= a.name %>'}
<% end -%>
